* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: url(/IMG/contact_bg4.png);
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Navigation styles start */
.nav-container {
    background-color: #000000;
    display: grid;
    grid-template: 60px / repeat(8, auto);
    height: 55px;
    padding: 0 0 5px 0;
}

.nav-container img {
    width: 48px;
    height: 38px;
}

.nav-container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 0;
    transition: 1s;
}

.nav-container a:active {
    cursor: grabbing;
}

.nav-btn {
    color: #ffffff;
}

.nav-btn:hover {
    background-color: #ffc107;
}

.special-nav-btn {
    color: #ffc107;
}

.special-nav-btn:hover {
    background-color: #2f4f4f;
}

.login-logo {
    margin: 0 5px 0 0;
}

/* Navigation End */

/* Title start */
.header {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: x-large;
    color: #fffffff1;
    padding: 10px;
}

.header h1 {
    font-weight: lighter;
}

/* Title End */

.position-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.main-container {
    background-color: #b08c8c3b;
    padding: 20px;
    display: grid;
    column-gap: 3vmax;
    display: flex;
    border-radius: 2%;
}

/* Contact info start */
.info-container, form {
    height: 25vmax;
}

.info-container {
    background-color: #d7a615;
    border-radius: 10px;
    padding: 2vmax 70px 3vmax 2vmax;
    display: grid;
}

.info-heading h1 {
    margin-bottom: 10px;
}

.info-heading h1:hover, .info-heading p:hover, .header h1:hover {
    cursor: default;
}

.info-heading p {
    font-size: 16px;
}

.info-group-1, .info-group-2, .info-group-3, .info-group-4 {
    display: grid;
    column-gap: 20px;
    display: flex;
}

/* Contact info End */

/* Form start */
form {
    color: white;
    margin-top: 10px;
}

/* Positioning inputs and labels */

.position-group-container {
    display: grid;
    column-gap: 5%;
    display: flex;
}

.firstNameEmail-group input, .lastNamePhone-group input {
    width: 285px;
}

.firstNameEmail-group input, .lastNamePhone-group input, .message textarea {
    background: none;
    border: none;
    font-size: x-large;
    margin-top: 20px;
    outline: none;
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
}

.firstNameEmail-group label, .lastNamePhone-group label, .message label {
    margin-top: 25px;
    font-size: medium;
}

.firstNameEmail-group {
    display: grid;
}

.lastNamePhone-group {
    display: grid;
}

.radio label {
    margin-left: 10px;
}

.radio input {
    margin-left: 15px;
}

.message textarea {
    width: 600px;
    resize: none;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    font-size: large;
}

.btn button:hover {
    transition: 1s;
    background-color: #ffc107;
    color: black;
    cursor: pointer;
}

/* Errors */
#firstNameError {
    margin-top: 5px;
    color: #fc7e00;
}

#lastNameError {
    margin-top: 5px;
    color: #fc7e00;
}

#emailError {
    margin-top: 5px;
    color: #fc7e00;
}

#phoneNumberError {
    margin-top: 5px;
    color: #fc7e00;
}

#messageError {
    margin-top: 5px;
    color: #fc7e00;
}

/* Start of footer */
footer {
    background-color: #000000;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 40px 0 40px 0;
}

.position-footer-container {
    display: flex;
    justify-content: space-around;
}

.position-logos {
    text-align: center;
}
/* Social Media Icon alignment */
.socialMedia-icons {
    display: grid;
    column-gap: 15px;
    display: flex;
    margin-top: 15px;
}

.footer-column-a-1, .footer-column-a-2 {
    display: grid;
    row-gap: 17px;
}

.footer-column-a-1 a, .footer-column-a-2 a, .last-footer-col {
    text-decoration: none;
    color: #ffffff;
}

.last-footer-col input {
    padding: 5px 150px 5px 0;
    background-color: #000000;
    outline: none;
    color: #ffffffcb;
    border: none;
    border-bottom: solid #ffffff 1px;
}

.last-footer-col button {
    margin-top: 15px;
    padding: 10px 50px 10px 50px;
    cursor: pointer;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
}

.last-footer-col button:hover {
    transition: 1s;
    background-color: #ffbf00cc;
    color: #ffffff;
}

.footer-column-a-1 a:first-child, .footer-column-a-2 a:first-child {
    color: gray;
}

.copyright {
    color: #ffffff;
    text-align: center;
}

.copyright hr {
    border: 0.1px #ffffff2b solid;
    outline: none;
}


















/* Navigation Animations */
.nav-animate-group1 {
    animation: nav-animate-group1 3s;
}

.nav-animate-group2 {
    animation: nav-animate-group2 3s;
}

@keyframes nav-load {
    /* This is what the navbar will look like at the begining. */
    0% {
        transform: translateY(-100%);
    }
    /* This is what the animation will look like at the end. */
    100% {
        transform: translateY(0);
    }
}

@keyframes nav-animate-group1 {
    /* This is what the navbar will look like at the begining. */
    0% {
        transform: translateY(-80%);
    }
    /* This is what the animation will look like at the end. */
    100% {
        transform: translateX(0);
    }
}

@keyframes nav-animate-group2 {
    /* This is what the navbar will look like at the begining. */
    0% {
        transform: translateY(-80%);
    }
    /* This is what the animation will look like at the end. */
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1024px) {}