* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/IMG/ssss.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation styles start */
.nav-container {
    background-color: #000000;
    display: grid;
    grid-template: 60px / repeat(8, auto);
    height: 55px;
    padding: 0 0 5px 0;
}

.nav-container img {
    width: 48px;
    height: 38px;
}

.nav-container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 0;
}

.nav-container a:active {
    cursor: grabbing;
}

.nav-btn {
    color: #ffffff;
}

.nav-btn:hover {
    background-color: #ffc107;
}

.special-nav-btn {
    color: #ffc107;
}

.special-nav-btn:hover {
    background-color: #2f4f4f;
}

.login-logo {
    margin: 0 5px 0 0;
}

/* Navigation End */

/* Start form */
form {
    position: absolute;
    left: 37%;
    bottom: 15%;
    display: grid;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    color: #ffffffd4;
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 50px;
}

form h1:hover {
    cursor: default;
}

form label {
    font-size: medium;
}

form input {
    padding: 7px 11vmax 7px 7px;
    font-size: 17px;
    border: solid 1px #0000004f;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #978e4551;
}

.checkbox {
    cursor: pointer;
    background-color: #978e4551;
}

.checkbox:active {
    cursor: grabbing;
}

.signin-forgotpass {
    display: grid;
    column-gap: 40px;
    display: flex;
}

form button {
    padding: 10px 65px 10px 65px;
    background-color: #ffc107;
    color: #000000;
    cursor: pointer;
    border: 2px #00000046 solid;
    border-radius: 5px;
}

form button:active {
    cursor: grabbing;
}

form a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff92;
}

form a:hover {
    color: #d7a615;
}

form a:active {
    cursor: grabbing;
}

.signup-btn {
    padding: 14px 0 14px 0;
    color: #ffffff;
    background-color: #000000;
}

/* Start form styles */

/* form validation */