body {
    background-image: url(../IMG/Background_Images/Registration_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form span {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

form {
    display: grid;
    background: #000;
    border-top: #ffc107 solid 7px;
    border-radius: 30px;
    box-shadow: #ffc107 5px 0 30px;
    padding: 60px 35px 60px 35px;
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p {
    font-size: 18px;
    width: 450px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 15px;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

input {
    padding: 13px 0 13px 10px;
    background: #4a4a4a;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #ffc107;
}

input:focus {
    border: solid #ffc107 1px;
    box-shadow:#ffc107 0 0 10px;
}

button {
    padding: 12px 0 12px 0;
    background: #ffc107b6;
    border-radius: 5px;
}

button:hover {
    padding: 12px 0 12px 0;
    background: #ffc107;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffc107;
    text-align: center;
}

button, a {
    margin-top: 30px;
}

h1, p, label {
    position: relative;
    left: 5px;
}

::placeholder {
    color: #ffc107;
}

/* Changes Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffc107;
  -webkit-box-shadow: 0 0 0px 1000px #4a4a4a inset;
}

.error {
    border: solid 2px red;
    box-shadow:#ff0000 0px 0 15px;
}

