body {
    background-image: url(../IMG/Background_Images/Registration_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.container {
    background: #000;
    border-top: #ffc107 solid 7px;
    border-radius: 30px;
    box-shadow: #ffc107 5px 0 30px;
    padding: 60px 35px 60px 35px;
}

.Checkmark {
    width: 200px;
    height: 200px;
}

h1 {
    color: #fff;
    background-color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

p {
    font-size: 18px;
    width: 450px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

button {
    text-decoration: none;
    color: black;
    font-size: 17px;
    background: #ffc107;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}

h1,
p,
button {
    position: relative;
    bottom: 15px;
}

@media screen and (max-width: 1115px) {
    body {
        background-size: 105%;
    }
}

@media screen and (max-width: 1063px) {
    body {
        background-size: 120%;
    }
}

@media screen and (max-width: 930px) {
    body {
        background-size: 150%;
    }

    .container {
        padding: 50px 25px 50px 25px;
    }

    .Checkmark {
        width: 190px;
        height: 190px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }
}

@media screen and (max-width: 749px) {
    body {
        background-size: 200%;
    }

    .container {
        padding: 25px 10px 150px 10px;
    }

    .Checkmark,
    h1,
    p,
    a {
        position: relative;
        top: 25px;
    }

    .Checkmark {
        width: 165px;
        height: 165px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 559px) {
    body {
        background-size: 300%;
    }

    .container {
        padding: 20px 0 150px 0;
        height: 350px;
    }

    .Checkmark {
        width: 130px;
        height: 130px;
    }

    .Checkmark,
    h1,
    p,
    a {
        position: relative;
        top: 50px;
    }

}